In [37]:
import pandas as pd
import numpy as np

In [90]:
source = 'Bitstamp'
crypto = 'XRP'
market = 'USD'
year = '2021'
dur_type = 'minute'
name = f'{source}_{crypto}{market}_{year}_{dur_type}.csv'
df = pd.read_csv(f'../data/{name}', skiprows=1, parse_dates=True)
df = df[['date', 'open', 'high', 'low', 'close', f'Volume {crypto}']]

In [79]:
df.head()

                  date     open     high      low    close    Volume XRP
0  2021-11-13 07:13:00  1.18774  1.18774  1.18774  1.18774      0.000000
1  2021-11-13 07:12:00  1.18746  1.18774  1.18736  1.18774  10039.680000
2  2021-11-13 07:11:00  1.18754  1.18755  1.18754  1.18755   2937.000000
3  2021-11-13 07:10:00  1.18757  1.18800  1.18757  1.18800   4752.198398
4  2021-11-13 07:09:00  1.18744  1.18789  1.18744  1.18745   6207.214000

In [80]:
cols_to_norm = ['open', 'high', 'low', 'close', f'Volume {crypto}']
df[cols_to_norm] = df[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [94]:
df.sort_values('date', inplace=True)

In [93]:
df.head()

                       date     open     high      low    close    Volume XRP
455472  2021-01-01 00:01:00  0.21998  0.22065  0.21998  0.22028  39314.844671
455471  2021-01-01 00:02:00  0.22078  0.22081  0.22078  0.22081  15422.575271
455470  2021-01-01 00:03:00  0.22061  0.22062  0.22054  0.22054  66980.211000
455469  2021-01-01 00:04:00  0.22077  0.22086  0.22077  0.22085  51535.291069
455468  2021-01-01 00:05:00  0.22060  0.22060  0.21986  0.21986  22343.028435

In [95]:
df = df.loc[(df['date'] > '2021-01-01') & (df['date'] <= '2021-01-05')]

In [97]:
df.iloc[100:200]

                       date     open     high      low    close     Volume XRP
455372  2021-01-01 01:41:00  0.22405  0.22451  0.22402  0.22433   21372.949098
455371  2021-01-01 01:42:00  0.22403  0.22425  0.22403  0.22425    7859.385307
455370  2021-01-01 01:43:00  0.22425  0.22425  0.22425  0.22425       0.000000
455369  2021-01-01 01:44:00  0.22495  0.22531  0.22495  0.22531   28749.581184
455368  2021-01-01 01:45:00  0.22557  0.22560  0.22557  0.22560   44887.055407
...                     ...      ...      ...      ...      ...            ...
455277  2021-01-01 03:16:00  0.22430  0.22430  0.22411  0.22421   29298.086297
455276  2021-01-01 03:17:00  0.22458  0.22466  0.22446  0.22446    5703.810556
455275  2021-01-01 03:18:00  0.22449  0.22449  0.22449  0.22449    6913.519728
455274  2021-01-01 03:19:00  0.22458  0.22458  0.22426  0.22441   36775.306435
455273  2021-01-01 03:20:00  0.22457  0.22509  0.22457  0.22509  152757.502979

[100 rows x 6 columns]

In [69]:
df.iloc[0:100]

                   date      open      high       low     close  Volume XRP
0   2021-11-13 07:13:00  0.556398  0.555106  0.559152  0.556257    0.000000
1   2021-11-13 07:12:00  0.556238  0.555106  0.558935  0.556257    0.000884
2   2021-11-13 07:11:00  0.556283  0.554997  0.559038  0.556149    0.000259
3   2021-11-13 07:10:00  0.556301  0.555254  0.559055  0.556406    0.000418
4   2021-11-13 07:09:00  0.556226  0.555191  0.558981  0.556092    0.000547
..                  ...       ...       ...       ...       ...         ...
95  2021-11-13 05:38:00  0.547643  0.546353  0.550401  0.547510    0.000195
96  2021-11-13 05:37:00  0.547414  0.546479  0.549602  0.547339    0.001552
97  2021-11-13 05:36:00  0.547968  0.546958  0.550441  0.547550    0.000489
98  2021-11-13 05:35:00  0.548197  0.546924  0.550669  0.547778    0.001215
99  2021-11-13 05:34:00  0.548437  0.547147  0.551154  0.548263    0.000169

[100 rows x 6 columns]

In [66]:
np.vstack([df.loc[0:100, 'close'].values, df.loc[0:100, 'Volume XRP'].values])

array([[5.56257382e-01, 5.56257382e-01, 5.56148970e-01, 5.56405736e-01,
        5.56091911e-01, 5.56257382e-01, 5.55481379e-01, 5.55897910e-01,
        5.55857969e-01, 5.55789498e-01, 5.55350143e-01, 5.55943557e-01,
        5.56325853e-01, 5.56468501e-01, 5.57176033e-01, 5.56685325e-01,
        5.57176033e-01, 5.56719560e-01, 5.56576913e-01, 5.56582619e-01,
        5.57438505e-01, 5.56514148e-01, 5.55920734e-01, 5.54825200e-01,
        5.54825200e-01, 5.54711081e-01, 5.54705376e-01, 5.54705376e-01,
        5.54733905e-01, 5.54733905e-01, 5.54026373e-01, 5.54226079e-01,
        5.53689724e-01, 5.53758195e-01, 5.54277433e-01, 5.53872313e-01,
        5.53153369e-01, 5.53273193e-01, 5.54163314e-01, 5.53090604e-01,
        5.54368727e-01, 5.55390084e-01, 5.56451383e-01, 5.55236025e-01,
        5.53044957e-01, 5.51932305e-01, 5.51801069e-01, 5.51801069e-01,
        5.51133478e-01, 5.50990831e-01, 5.51093537e-01, 5.50751183e-01,
        5.51327479e-01, 5.50990831e-01, 5.50682712e-01, 5.50117827e-01,
        5.49832532e-01, 5.50266181e-01, 5.49792590e-01, 5.49769767e-01,
        5.49695590e-01, 5.49695590e-01, 5.50003709e-01, 5.49530119e-01,
        5.50437358e-01, 5.50768300e-01, 5.50425946e-01, 5.51030772e-01,
        5.50465887e-01, 5.49478765e-01, 5.50146356e-01, 5.49901003e-01,
        5.49102176e-01, 5.48776939e-01, 5.48514467e-01, 5.49404589e-01,
        5.48811174e-01, 5.48480232e-01, 5.48691350e-01, 5.47732758e-01,
        5.48343290e-01, 5.48497350e-01, 5.48588644e-01, 5.48879645e-01,
        5.49067940e-01, 5.48902469e-01, 5.49050823e-01, 5.48885351e-01,
        5.49090764e-01, 5.48668527e-01, 5.48143583e-01, 5.48143583e-01,
        5.48582938e-01, 5.48303349e-01, 5.48040877e-01, 5.47510228e-01,
        5.47339051e-01, 5.47550169e-01, 5.47778405e-01, 5.48263407e-01,
        5.48771233e-01],
       [0.00000000e+00, 8.84127626e-04, 2.58641992e-04, 4.18494403e-04,
        5.46627918e-04, 1.07978497e-03, 5.63711634e-04, 2.65855819e-05,
        7.42040824e-04, 1.24828789e-03, 7.13675608e-04, 2.02198631e-04,
        3.42049731e-04, 1.55072347e-03, 5.26694742e-04, 1.37973571e-03,
        7.92512596e-04, 1.64737713e-03, 2.64189982e-06, 1.99028910e-03,
        1.97323530e-03, 1.11275743e-03, 3.46604348e-03, 0.00000000e+00,
        2.55207787e-04, 1.50042085e-03, 8.13861868e-05, 9.02659406e-04,
        0.00000000e+00, 2.33203023e-03, 1.73101831e-03, 1.22410589e-03,
        2.34938909e-04, 2.57911735e-03, 3.24345510e-03, 7.43738001e-04,
        7.23939693e-04, 8.10741354e-04, 3.30842745e-03, 3.00280852e-03,
        6.85205082e-04, 7.40445821e-04, 3.57656788e-03, 9.71244641e-03,
        7.62945178e-04, 1.37312480e-03, 1.06662302e-03, 5.01514050e-04,
        7.28523337e-04, 6.32229142e-04, 5.49754953e-04, 1.61559915e-03,
        7.93728701e-04, 2.19727336e-04, 2.41254292e-03, 4.92204740e-04,
        9.76125623e-04, 9.40464995e-04, 1.09991096e-04, 4.68163672e-04,
        0.00000000e+00, 8.19764549e-04, 8.10030871e-04, 5.64276001e-04,
        6.53774175e-04, 1.25568014e-03, 1.51853334e-03, 5.37274360e-04,
        2.27786447e-03, 7.54292756e-04, 2.84605633e-03, 2.01962336e-03,
        1.36395145e-03, 2.07860778e-04, 2.82692088e-04, 1.47667421e-03,
        3.01045881e-04, 3.39386299e-04, 6.54068314e-04, 3.23436670e-04,
        1.00656383e-04, 2.90706256e-04, 1.27890737e-03, 2.61354407e-04,
        2.49105451e-04, 7.04428437e-05, 3.73802053e-06, 3.22823673e-04,
        2.28514436e-04, 3.25574052e-04, 0.00000000e+00, 1.69566245e-03,
        1.90495822e-03, 4.28398481e-04, 9.44350644e-04, 1.94771639e-04,
        1.55188515e-03, 4.88962379e-04, 1.21543064e-03, 1.69281412e-04,
        4.36983508e-04]])